.categoryCol{
    position:relative; 
    height:100%;
    padding:0px;
}
.carElement{
    width: 100%;
}
.headerRow{
    height:10vh;
    margin: 0px;
    font-size:30px;
    text-align:center;
    vertical-align: middle;
    background-color:#30332B;
}
.headerRow p{
    margin: 0px;
    vertical-align: middle;
}
.itemRow{
    height:30%;
    margin: 5px;
}
.carousel{
    width:100%;
    text-align:center;
}
.panel{
    position:fixed;
    width:100%;
    height: 100%;
    /*background-color:#090909;*/
    background-color:white;
    color:#D3FFE9;
}
.leftPanel{

}
.full{
    width:100%; 
    height:100%;
}
.itemContainer{
    height:90%;
    width:100%;
}
.controlPanel{
    height:90px;
    background-color:rgb(20,10,20);
    margin-top:-6px;
    border-bottom:10px solid;
    border-color:rgb(10,5,10);
    font-family: 'Russo One', sans-serif;
}
.mainPanel{
    position:fixed;
    width:700px;
    height:250px;
    top:calc(50% - 225px);
    left:calc(50% - 300px);
    background-color:rgba(40, 10, 40, 0.3);
    text-align:center;
}
.mainTitle{
    font-size:80px;
}
.middle{
    text-align:center;
}
















.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect .img-responsive {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover .img-responsive {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}